* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
  gap: 20px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo img {
  width: 100px;
  cursor: pointer;
  margin-top: 1rem;
}

.search {
  display: flex;
  flex: 1;
  max-width: 700px;
}

.search input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

.search-btn {
  background: #febd69;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-btn:hover {
  background: #ffaa2a;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 2px;
}

.nav-item:hover {
  box-shadow: 0 0 0 1px white;
}

.active {
  box-shadow: 0 0 0 1px white;
  border-radius: 2px;
}

.cart {
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .search {
    width: 100%;
  }

  .navigation {
    justify-content: center;
    width: 100%;
  }
}

/* list header */

.product-list {
  background: #232f3e;
  padding: 10px 0;
  overflow-x: scroll;
}

.product-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 9px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-list ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 2px;
  white-space: nowrap;
  text-transform: capitalize;
}

.product-list ul li:hover {
  box-shadow: 0 0 0 1px white;
}

.product-list ul li img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 6px;
}

.product-list ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.product-list ul p {
  color: #fff;
}

.disabled {
  pointer-events: none;
}

.cart {
  display: flex;
  align-items: center;
}

.cartWrapper {
  position: relative;
  display: inline-block;
}

.cartWrapper img {
  width: 46px;
  height: 39px;
}

.cartNumber {
  position: absolute;
  top: 6px;
  right: 13px;
  background: transparent;
  color: #fa8900;
  font-size: 0.8rem;
  font-weight: bold;
}
